/* Backgroun color #5699d2
   Extrustion color #d8ebf9
*/


.website_body{
  background: #5699d2;
  width: 100%;
}

.titlerow {
  background-color: white;
  width: 100%;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}


.fullcontainer {
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  float: right;
}

.headshot {
  width: 75%;
}

html, body {
  height: 100%;
}

.edurow {
  color: white;
  padding-left: 20px;
}

.sectionheader{
  color: white;
  font-size: 26px;
  font-weight: 450;
  text-align: center;
  padding-bottom: 15px;
  text-shadow: 2px 2px #F78700;
}

.schoolLogo {
  width: 80%;

}

.schoolCard{
  background-color: #d8ebf9;
  padding: 10px;
  border: 5px solid #094f8a;
  border-radius: 15px;
}

.infocontainer {
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  float: right;
}

.eduCards, .schoolCard{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.classes {
  padding: 1.25rem;
}

.schoolimagediv{
  text-align: center;
  padding: 10px 0 20px 0;

}

.bamalogo {
  width: 45%;
}

.uvalogo {
  width: 67%;
}

@media screen and (min-width: 1250px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
    .eduCards, .schoolCard{
        width: 65%;
    }

}


/*.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F78700;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 6px solid #094f8a;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: gray;
}*/

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menuitem {
  margin-bottom: 10px;
  line-height: 1.1;
}


@media screen and (max-width: 1050px) {
  .sidenav {
  display: none;
}
  .fullcontainer, .infocontainer {
    width: 100%;
  }
}

#musicid {
background-color: white;

}


.navbar {
    background-color: #094f8a;


}
