/* Backgroun color #5699d2
   Extrustion color #d8ebf9
*/


.website_body{
  background: #5699d2;
  width: 100%;
}

.titlerow {
  background-color: white;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}


.fullcontainer {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
}

.headshot {
  width: 100%;
}

html, body {
  height: 100%;
}

.edurow {
  color: white;
  padding-left: 20px;
}

.sectionheader{
  color: white;
  font-size: 26px;
  font-weight: 450;
  text-align: center;
}

.schoolLogo {
  width: 100%;
}

.schoolCard{
  background-color: #d8ebf9;
}

.infocontainer {
  margin: 0;
  padding: 0;

}
